<!DOCTYPE html>
<html>
    <head>
        <title>Transfero</title>
        <link rel="stylesheet" href="/public/style.css" />
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    </head>
    <body>
        <div class="content">
            <div class="logo-menu main">
                <img src="/public/logo-menu.svg" />
            </div>
            <div class="line-menu">
                <img src="/public/line.svg" />
            </div>
            <p class="menu-title">Escolha o produto que deseja</p>
            <a href="/formPay" class="button">
                <div class="menu-button">Pay</div>
            </a>
            <a href="/formVentures" class="button">
                <div class="menu-button">Ventures</div>
            </a>
            <a href="/formPrime" class="button">
                <div class="menu-button">Prime</div>
            </a>
            <a href="/formCheckOut" class="button">
                <div class="menu-button">Checkout</div>
            </a>
            <a href="/formApp" class="button">
                <div class="menu-button">App</div>
            </a>
        </div>
    </body>
</html>
