<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/public/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <head>
        <title>Transfero</title>
    </head>
    <body>
        <div class="content">
            <div class="home-button">
                <a href="/" class="image-button">
                    <img src="/public/home.svg" alt="" />
                </a>
            </div>
            <div class="logo-menu">
                <img src="/public/logo-form-<%= form.name %>.svg" alt="" />
            </div>
            <div class="thanks">
                <div class="thanks-square">
                    <p class="thanks-h1">Obrigado!</p>
                    <p class="thanks-h2">Seu contato foi registrado.</p>
                </div>
                <a href="/" class="home-link"> Volte para o menu inicial </a>
            </div>
        </div>
        <footer>
            <img
                class="logo-websummit"
                src="/public/logo-web-summit.svg"
                alt=""
            />
        </footer>
    </body>
</html>
