.image-button {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

html,
body {
    margin: 0;
}

body {
    /*background-color: #160F29;
    border-top: 5px solid #1DDDBD;
    border-bottom: 5px solid #1DDDBD; */
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.image-background {
    /*background: #F2F2F2;*/
    /*background-image: url(/public/IMG_1453\ 1.png);*/
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.content {
    box-sizing: border-box;
    border-top: 5px solid #2978ff;
    text-align: center;
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    justify-content: center;
}

.logo-menu {
    height: 60px;
    margin-top: 21px;
}

h1 {
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    margin: 30px 0;
    font-size: 1.8em;
}

.logo-menu img {
    height: 100%;
}

.chat-scroll {
    overflow: auto;
    /* height: 100px; */
    display: flex;
    flex-direction: column-reverse;
}

.chat-container {
    display: flex;
    flex-flow: column;
    /* justify-content: end; */
    border: 3px solid #2978ff;
    border-radius: 22px;
    /* min-height: 30vh; */
    padding: 15px 15px 30px;
}

.msg-container {
    display: flex;
    margin: 10px 0;
}

/* .msg-container:first-child{
    margin-top: auto;
} */

.msg-container.user {
    flex-flow: row-reverse;
}
.pfp {
    width: 40px;
    height: 40px;
}

.pfp.last {
    background-size: contain;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    align-self: end;
}

.pfp.last.page {
    background-image: url("/public/mascot.jpeg");
}
.pfp.last.user {
    background-image: url("/public/salesforce_logo.svg");
}
.msg {
    max-width: 80%;
    border-radius: 15px;
    margin: 2px;
}

.msg.page.last {
    border-bottom-left-radius: 0;
}

.msg.page {
    background-color: #2978ff;
    color: #fff;
}

.msg.user {
    background-color: #1dddbd;
}

.msg.user.last {
    border-bottom-right-radius: 0;
}

.chat-input {
    width: 100;
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.chat-input input,
.chat-input select {
    background-color: #f2f2f2;
    border: 3px solid #1dddbd;
    border-radius: 16px;
    padding: 7px 15px;
    width: 65%;
}

.chat-input input::placeholder {
    color: #666;
}

.chat-input button {
    background-color: #1dddbd;
    margin: 0 5px;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.line-menu {
    height: 12px;
    margin-top: 20px;
}

.menu-title {
    color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-size: 13px;
    text-align: center;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    margin: 7px 15px;
}

.menu-button {
    background-color: #2978ff;
    height: 60px;
    width: 288px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-family: "Montserrat";
}

.button {
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 165%;
}

/* input[type=text],input[type=email],input[type=phone], select {
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #1DDDBD;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 165%;
    color: black;
    padding: 9px;
    background-color: #F2F2F2;
    margin-bottom: 24px;
} */

input::placeholder {
    color: black;
}

.checkboxes-section {
    border: 1px solid #1dddbd;
    border-radius: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 165%;
    color: black;
    text-align: left;
    background-color: #f2f2f2;
}

textarea {
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #1dddbd;
    border-radius: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 165%;
    color: black;
    padding: 9px;
    background-color: #f2f2f2;
    margin-bottom: 24px;
}

textarea::placeholder {
    color: #ffffff;
}

button [type="submit"] {
    color: red;
}

input[type="submit"] {
    width: 300px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid #2978ff;
    border-radius: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 165%;
    color: black;
    padding: 5px;
    background-color: #f2f2f2;
    margin-bottom: 24px;
    background: #2978ff;
    cursor: pointer;
    margin-top: 24px;
    color: white;
}

.thanks-square {
    box-sizing: border-box;
    width: 288px;
    height: 205px;
    border: 1px solid #1dddbd;
    border-radius: 6px;
}

.thanks-h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    line-height: inherit;
}

.thanks-h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: #fffffe;
}

.home-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 165%;
    text-align: center;
    text-decoration-line: underline;
    color: #ffffff;
}

footer {
    height: 52px;
    left: 0px;
    background: #2978ff;
}

.logo-websummit {
    height: 16.82px;
    padding: 17px;
}

@supports (-webkit-overflow-scrolling: touch) {
    input, select {
      font-size: 16px;
    }
 }

@media screen and (max-width: 1024px) {
    body {
        height: 100%;
        overflow: hidden;
        min-height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;
    }

    html {
        height: -webkit-fill-available;
        height: 100%;
    }
    .image-background,
    .content {
        height: 100%;
    }
    .content {
        padding: 5% 1% 0;
        display: flex;
        flex-flow: column;
    }
    .logo-menu {
        height: auto;
    }
    .logo-menu img {
        width: 55%;
    }
    .logo-menu.main img {
        width: 80%;
    }
    h1 {
        font-size: 3em;
    }
    .line-menu {
        height: auto;
        margin: 80px 0;
    }
    .line-menu img {
        width: 40%;
        height: auto;
        align-self: center;
    }

    #chat {
        display: flex;
        flex-flow: column;
        height: 100%;
        padding-bottom: 5%;
    }

    .chat-scroll {
        flex-grow: 1;
    }

    .chat-container {
        /* border: 6px solid #5491d8;
        border-radius: 22px; */
        border: none;
        /* min-height: 35vh; */
        /* max-height: 65vh; */
        padding: 15px 15px 30px;
        /* overflow: scroll; */
    }

    .msg-container {
        margin: 5px;
    }

    .pfp {
        width: 110px;
        height: 110px;
        min-width: 110px;
    }

    .msg {
        margin: 8px;
        max-width: 90%;
        align-self: start;
        border-radius: 35px;
    }

    p {
        font-size: 2.1em;
        margin: 25px 25px;
        text-align: left;
    }

    .chat-input {
        align-self: end;
        bottom: 0%;
        width: 100%;
    }

    .chat-input input,
    .chat-input select {
        font-size: 2.1em;
        padding: 25px 25px;
        flex-grow: 1;
        border: 6px solid #64d8c5;
        border-radius: 35px;
    }

    .chat-input button {
        margin: 0 8px;

        height: 110px;
        width: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }

    .menu-title {
        font-size: 2.2rem;
        margin: 40px 0;
    }
    .menu-button {
        width: 100%;
        height: auto;
        padding: 25px 0;
        border-radius: 15px;
        margin: 0;
    }
    .button {
        font-size: 3.5rem;
    }
    .home-button {
        position: absolute;
        top: 10vw;
        right: 10vw;
        height: 20%;
    }
    .home-button img {
        height: 20%;
    }
    /* input[type=text],input[type=email],input[type=phone], select, textarea{
        width: 100%;
        font-size: 2.2rem;
        height: auto;
        padding: 2% 5%;
        margin: 5% 0;
        border-radius: 12px;
    } */
    .checkboxes-section {
        font-size: 2.2rem;
        padding: 3% 5%;
    }
    .checkboxes-section p {
        text-align: left;
        margin: 0%;
        padding-bottom: 3%;
    }
    .checkboxes-container {
        display: flex;
        flex-flow: row wrap;
    }
    .checkbox {
        position: relative;
        padding: 0 80px 3%;
    }
    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 8px;
        left: 0;
        height: 40px;
        width: 40px;
        border: 1px solid #1dddbd;
        transform: rotate(-45deg);
    }
    .checkbox input:checked ~ .checkmark {
        background-color: #1dddbd;
    }
    input[type="submit"] {
        float: right;
        font-size: 2.5rem;
        height: auto;
        border-radius: 12px;
        padding: 24px 60px;
        width: 50%;
    }

    input[type="submit"]:disabled {
        background-color: #cccccc; /* Cor de fundo cinza */
        cursor: not-allowed; /* Cursor de erro */
    }

    .thanks {
        height: 45vh;
    }
    .thanks-square {
        width: 80vw;
        height: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        border-radius: 18px;
        margin-bottom: 8%;
        margin-top: 8%;
    }
    .thanks-h1 {
        font-size: 2rem;
        color: black;
    }
    .thanks-h2 {
        font-size: 1rem;
        color: black;
    }
    .home-link {
        margin-top: 5%;
        font-size: 2rem;
        color: #2978ff;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5%;
    }
    .logo-websummit {
        height: 40%;
    }
}
